<p style="height:100px;line-height:100px;background-color:lime;padding-left:12px;font-size:46px;font-family:serif;font-weight:bold;color:white;">
    Stock Price (GOOG) in Three Years
</p>
<p style="height:240px;line-height:100px;font-size:64px;background-color:cyan;color:white;padding:20px auto;text-align:center;border:2px outset gold;border-radius:8px;">
    Created by:<br/> <code>Tarek Ghajary</code>
</p>

# Importing Libraries

In [1]:
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpp
%matplotlib inline
import seaborn as sb

In [3]:
#bokeh

# Reading and Exploring the Data

In [5]:
goog = pd.read_csv('../DataSets/GOOG_3years.csv')

In [6]:
goog.head()

         date    close     volume     open     high      low
0  2018/10/26  1071.47  4185201.0  1037.03  1106.53  1034.09
1  2018/10/25  1095.57  2511884.0  1071.79  1110.98  1069.55
2  2018/10/24  1050.71  1910060.0  1104.25  1106.12  1048.74
3  2018/10/23  1103.69  1847798.0  1080.89  1107.89  1070.00
4  2018/10/22  1101.16  1494285.0  1103.06  1112.23  1091.00

In [7]:
goog.shape

(758, 6)

In [8]:
goog.describe()

             close        volume         open         high          low
count   758.000000  7.580000e+02   758.000000   758.000000   758.000000
mean    907.663522  1.665784e+06   907.466675   914.845824   899.930593
std     165.771927  7.718114e+05   165.764100   167.698831   163.856366
min     668.260000  5.272230e+05   667.850000   672.300000   663.060000
25%     759.902500  1.190456e+06   759.707500   768.108125   752.696600
50%     886.475000  1.462198e+06   887.995000   894.525000   882.585000
75%    1049.132500  1.922700e+06  1048.255000  1059.745000  1040.696000
max    1268.330000  6.340548e+06  1271.000000  1273.890000  1249.020000

In [9]:
goog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    758 non-null    object
 1   close   758 non-null    float64
 2   volume  758 non-null    float64
 3   open    758 non-null    float64
 4   high    758 non-null    float64
 5   low     758 non-null    float64
dtypes: float64(5), object(1)
memory usage: 35.7+ KB

In [10]:
goog.dtypes

date       object
close     float64
volume    float64
open      float64
high      float64
low       float64
dtype: object

In [11]:
goog.isna().sum()

date      0
close     0
volume    0
open      0
high      0
low       0
dtype: int64