<p style="height:100px;line-height:100px;font-size:46px;background-color:lime;color:white;padding-left:12px;font-weight:bold;font-family:serif;">
    BeautifulSoup4
</p>

# Importing  Libraries

In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver

# Creating the request

In [ ]:
page_1 = requests.get('https://www.theguardian.com/football/tables').content

In [ ]:
type(page_1)

# Creating the soup

In [ ]:
soup_1 = BeautifulSoup(page_1, 'html.parser')

# Extracting all tables(with tags <code>table</code>) from soup

In [ ]:
tables = soup_1.find_all('table')

#  Make variable <code>table_1</code> equal first table in tables

In [ ]:
table_1 = tables[0]

# Extracting head and body of the table from <code>table_1</code>

In [ ]:
thead = table_1.find('thead')
tbody = table_1.find('tbody')

# Extracting <code>columns_names</code> (head items) from head of the table <code>table_1</code>

In [ ]:
columns_names = []

for th in thead.find('tr').find_all('th'):
    columns_names.append(th.text)

# Extracting <code>values</code> (body items) from body of tha table <code>table_1</code>

In [ ]:
values = []
for row in tbody.find_all('tr'):
    r = []
    for item in row.find_all('td'):
        if len(item.text) == 0:
            t = item.find('span').find('a').text
            r.append(t)
        r.append(item.text)
    values.append(r)

# Creating DataFrame

In [ ]:
df_table_1 = pd.DataFrame(values, columns=columns_names)

In [ ]:
df_table_1

# Deleting spaces in values into column <code>Team</code>

In [ ]:
df_table_1['Team'] = df_table_1['Team'].apply(lambda x : x.strip())

# Deleting spaces in values into column <code>Form</code>

In [ ]:
df_table_1['Form'] = df_table_1['Form'].apply(lambda x : x.replace('\n', ''))

# The Final Table as <code>DataFrame</code>

In [ ]:
df_table_1

## you can extract the others tables in same way.

<p style="height:240px;line-height:100px;font-size:64px;background-color:cyan;color:white;padding:20px auto;text-align:center;border:2px outset gold;border-radius:8px;">
    Created by:<br/> <code>Tarek Ghajary</code>
</p>